optgroup(label="-- Standard Fonts --")
 option(value="arial") Arial
 option(value="verdana") Verdana
optgroup(label="-- Handwriting Fonts --")
 option(value="chalk") Chalk
 option(value="indie-flower") Indie Flower
 option(value="englebert") Englebert
 option(value="coming-soon") Coming Soon
 option(value="permanent-marker") Parmanent Marker
 option(value="walter-turncoat") Walter Turncoat