optgroup(label="-- Standard Fonts --")
 option(value="arial", class="arial", data-content="<span class='arial'>Arial</span>") Arial
 option(value="verdana", class="verdana", data-content="<span class='verdana'>Verdana</span>") Verdana
optgroup(label="-- Handwriting Fonts --")
 option(value="chalk", class="chalk", data-content="<span class='chalk'>Chalk</span>") Chalk
 option(value="rock-salt", class="rock-salt", data-content="<span class='rock-salt'>Rock Salt</span>") Rock Salt
 option(value="covered-grace", class="covered-grace", data-content="<span class='covered-grace'>Covered By Your Grace</span>") Covered By Your Grace
 option(value="handlee", class="handlee", data-content="<span class='handlee'>Handlee</span>") Handlee
 option(value="londrina-outline", class="londrina-outline", data-content="<span class='londrina-outline'>Londrina Outline</span>") Londrina Outline
 option(value="boogaloo", class="boogaloo", data-content="<span class='boogaloo'>Boogaloo</span>") Boogaloo
 option(value="poiret-one", class="poiret-one", data-content="<span class='poiret-one'>Poiret One</span>") Poiret One
 option(value="miltonian", class="miltonian", data-content="<span class='miltonian'>Miltonian</span>") Miltonian
 option(value="luckiest-guy", class="luckiest-guy", data-content="<span class='luckiest-guy'>Luckiest Guy</span>") Luckiest Guy
 option(value="gruppo", class="gruppo", data-content="<span class='gruppo'>Gruppo</span>") Gruppo
 option(value="special-elite", class="special-elite", data-content="<span class='special-elite'>Special Elite</span>") Special Elite
 option(value="permanent-marker", class="permanent-marker", data-content="<span class='permanent-marker'>Permanent Marker</span>") Permanent Marker
 option(value="walter-turncoat", class="walter-turncoat", data-content="<span class='walter-turncoat'>Walter Turncoat</span>") Walter Turncoat