optgroup(label="-- Standard Fonts --")
 option(value="arial") Arial
 option(value="verdana") Verdana
optgroup(label="-- Handwriting Fonts --")
 option(value="chalk") Chalk
 option(value="rock-salt") Rock Salt
 option(value="covered-grace") Covered By Your Grace
 option(value="handlee") Handlee
 option(value="londrina-outline") Londrina Outline
 option(value="boogaloo") Boogaloo
 option(value="poiret-one") Poiret One
 option(value="miltonian") Miltonian
 option(value="luckiest-guy") Luckiest Guy
 option(value="gruppo") Gruppo
 option(value="special-elite") Special Elite
 option(value="permanent-marker") Parmanent Marker
 option(value="walter-turncoat") Walter Turncoat