extends layout

block content
  .flexslider.grid-100
   ul.slides
    li
     img(src='/img/flex.png')
     .slide-content.chalk
      h1= defaultSlide
      h2 Please login to load items from a venue.


block login
  #login-block.modal.hide.fade
   .modal-header
    h1 Login
   .modal-body
    form(action="/login", method="post")#login-form
     input(type="text", name="username", placeholder="Username")#username.input
     input(type="password", name="passwd", placeholder="Password", autocomplete="off")#passwd.input
   .modal-footer  
     button(type="button")#login.btn-primary.btn Login


block settings
  #settings-block.modal.hide.fade
   .modal-header
    h1 Settings
   .modal-body
    form(action="")#settings-form
     .grid-parent
      .grid-100
       label(for="headerText") Board Heading Title
      .grid-100
       input(type="text", name="headerText", maxlength="23")#headerText.input
      .grid-60
       label(for="headerColorHex") Board Heading Color
      .grid-20
       input(type="text", name="headerColorHex", value="#ffffff", placeholder="#ffffff")#headerColorHex.input.input-mini
      .grid-20
       input(type="color", name="headerColor", value="#ffffff")#headerColor.input.input-mini
     .grid-parent
      .grid-100
       label Board Heading Font
      .grid-100
       select(name="headerFont", class="selectpicker")#headerFont.input
        include chunks/font-options
     .grid-parent
      .grid-100
       label Special Title Font & Color
      .grid-60
       select(name="specialTitleFont", class="selectpicker")#specialTitleFont.input
        include chunks/font-options
      .grid-20
       input(type="text", name="specialTitleColorHex", value="#ffffff")#specialTitleColorHex.input.input-mini
      .grid-20
       input(type="color", name="specialTitleColor", value="#ffffff")#specialTitleColor.input.input-mini
     .grid-parent
      .grid-100
       label Sub Title Font & Color
      .grid-60
       select(name="specialSubTitleFont", class="selectpicker")#specialSubTitleFont.input
        include chunks/font-options
      .grid-20
       input(type="text", name="specialSubTitleColorHex", value="#ffffff")#specialSubTitleColorHex.input.input-mini
      .grid-20
       input(type="color", name="specialSubTitleColor", value="#ffffff")#specialSubTitleColor.input.input-mini
     .grid-parent
      .grid-100
       label Detail Font & Color
      .grid-60
       select(name="specialBodyFont", class="selectpicker")#specialBodyFont.input
        include chunks/font-options
      .grid-20
       input(type="text", name="specialBodyColorHex", value="#ffffff")#specialBodyColorHex.input.input-mini
      .grid-20
       input(type="color", name="specialBodyColor", value="#ffffff")#specialBodyColor.input.input-mini
     .grid-parent
      .grid-100
       label(for="slideShowSpeed") Slide Show Speed (seconds)
      .grid-100
       input(type="text", name="slideShowSpeed", maxlength="2", size="2")#slideShowSpeed.input
       
   .modal-footer  
     button(type="button")#logout.btn.float-left Logout
     button(type="button", disabled="disabled")#fullscreen.btn.float-left.disabled FullScreen
     button(type="button", data-dismiss="modal")#cancel.btn Cancel
     button(type="button", data-dismiss="modal")#settings.btn-primary.btn Save


block settings-button
 #settings-button
  img(src="/img/TSA_Icon.png")#ts-logo


block venue-logo
 #venue-logo


block page-headline
 #page-headline
  h1.chalk= title


block page-footer
 #page-footer-left.grid-30.tablet-grid-30.mobile-grid-100
  #footer-left-content
   img(src="/img/tsa-phone.png")#tsa-phone
 #page-footer-right.grid-70.tablet-grid-70.mobile-grid-100

block admodal
  #ad-block.modal.hide.fade
   .ads-content
   

     