// Reset css
@import "reset.css"

// Fonts
@import "fonts.css"

body
 padding: 0
 font: 14px Helvetica, Arial, sans-serif
 background-color: #000
 color: #fff

.clear-both
 clear: both

.float-none
 float: none

.float-right
 float: right
 
.float-left
 float: left
 
.img-rounded
 -webkit-border-radius: 15px
 -moz-border-radius: 15px
 border-radius: 15px
 
#main
 background-image: url('/img/cbg.png') 
 background-repeat: repeat
 background-size: 100% 100%
 padding: 0
 overflow: hidden

#main.fullScreen
 height: 100%

#header
 background: url('../img/clear_bg.png') repeat-x 0 0
 padding-bottom: 25px
 margin-bottom: 25px
 border-bottom: 3px solid #C0C0C0

#header-left
 #ts-logo
  cursor: pointer
  
 #settings-button
  margin-left: 10%
  margin-top: 20%

#header-middle
 text-align: center
 
#header-middle
 #page-headline
  display: block
  margin-top: 20px
  
#header-middle
 h1
  font-size: 7em
  line-height: 1.2em

#header-right
 #venue-logo
  cursor: pointer
  margin-right: 10%
  margin-top: 20%

#venue-logo img
#settings-button img
 max-height: 160px

#content-main
 margin: 0 auto

.slides
 width: 100%

.slide-content
 position: relative
 top: 0
 
 .special-img
  padding-top: 20px
  
  .img-corners
   margin-bottom: 40px
   margin-left: 15%
   
   img
    max-width: 90%
 
 .special-details
  padding-left: 60px
  
  h1
   font-size: 4.5em
   line-height: 1.2em
   margin-bottom: 20px
  
  h2
   font-size: 2.5em
   line-height: 1.2em
   margin-bottom: 25px
  
  p
   font-size: 2.2em
   line-height: 1.3em
   color: #e6e6e6
   margin-bottom: 25px

#footer
 height:160px
 background: url('/img/red-bar.png') repeat-x 0 50px
 
 #page-footer-left
  margin-left: 0
  padding-right: 0
  position: relative
  
  #footer-left-content
   text-align: center
   img
    max-width: 66%
    position: relative
    left: 13%
    bottom: 35px
 
 #page-footer-right
  height: 200px
  margin-top: 50px
  position:relative
  
  p
   display: block
   margin-top: 20px
   font-size: 2em
   color: #fae915
   text-shadow: 2px 2px 2px #000
   line-height: 1.2em

#login-block
#settings-block
 color: #000

#ad-block.modal
 background-color: transparent
 width: 1024px

#ad-block.modal .ads-content div
 display: none

// Media Queries

/* 1024 breakpoint ------- */
@media (max-width: 1025px)
 
 #header-middle
 #page-headline
  margin-top: 15px
 
 .slide-content
  
  .special-img
   text-align: center
   
   .img-corners
    float: none
    margin-left: 0
    
    img
     max-width: 100%
     
  .special-details
   padding-left: 40px
   
   h1
    font-size: 4em
   
   h2
    font-size: 3em
   
   p
    font-size: 1.7em
    

/* 980 breakpoint ------- */
@media (max-width: 979px)
  
  h1
   font-size: 4em